* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sørg for, at body fylder hele højden af viewporten */
}

/* Sticky navigation styling */
header {
    position: sticky; /* Gør headeren sticky */
    top: 0; /* Fastgør headeren til toppen */
    z-index: 1000; /* Sørg for, at headeren ligger øverst og ikke bliver dækket af andet indhold */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tilføj en let skygge for dybde */
    background: #fff; /* Sørg for at baggrunden er hvid så den ikke ser transparent ud */
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto Slab';
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    font-family: 'Roboto Slab';
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover-effekter på navigation */
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #959191;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #959191;
    transform: scale(1.1);
}

nav ul li a:hover::after {
    width: 100%;
}

/* Hero section styling */
#hero {
    background: url('vvsventilation.jpg') no-repeat center center; /* Fjern contain */
    height: 75vh; /* Justér højden */
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem; /* Tilføjer margin mellem header og hero */
    background-size: 90%; /* Stræk billedet til at fylde både bredde og højde */
    background-position: center center; /* Centrer billedet */
    filter: grayscale(50%);

}

.hero-content {
    background: rgba(251, 249, 249, 0);
    padding: 0rem; /* Reduceret padding for at flytte teksten højere op */
    border-radius: 10px;
    position: absolute; /* Placerer indholdet i forhold til hero-sektionen */
    top: 1.0%; /* Juster denne værdi for at flytte teksten højere op */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Hero section h1 styling */
#hero h1 {
    font-family: 'Roboto Slab'; /* Ændret til Roboto Slab */
    font-size: 1.5rem; /* Mindre skriftstørrelse end h2 */
    font-weight: lighter; /* Tynd skrift */
    margin-top: 20%;
    margin-bottom: 1rem; /* Fjern margin */
    color: #000000; /* Sort farve */
    letter-spacing: 10px;
}

/* Hero section h2 styling */
#hero h2 {
    font-family: 'Roboto slab'; /* Ændret til Roboto slab*/
    font-size: 3rem; /* Stor skriftstørrelse */
    font-weight: lighter; /* let vægt */
    color: #000; /* Sort farve */
    margin: 0; /* Fjern margin */
    letter-spacing: 5px;
}

.hero-content h1 {
    font-size: 3rem; /* Juster størrelse efter behov */
    letter-spacing: 1px; /* Linjeafstand mellem bogstaverne */
}

.hero-content h2 {
    font-size: 1.5rem; /* Juster størrelse efter behov */
    letter-spacing: 0.5px; /* Linjeafstand mellem bogstaverne */
}

/* Sektion styling */
section {
    padding: 1rem 0; /* Reduceret padding for at gøre sektionen mindre */
    text-align: center;
    border-bottom: none; /* Fjernet linjen mellem sektioner */
}

section#forside {
    background: #f4f4f4;
}

section#velkommen,
section#om,
section#ydelser {
    background: #fff;
    padding: 2rem;
}

#velkommen .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

#velkommen h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Roboto slab';
}

/* Specifik styling for fremhævet tekst i velkommen-containeren */
#velkommen p strong {
    color: #000; /* Sort farve */
}

#velkommen .columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1rem;
}

#velkommen .columns .left-column,
#velkommen .columns .right-column {
    flex: 1;
    max-width: 48%;
    text-align: left;
    color: #666;
    line-height: 1.7;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

#parallax-window {
    height: 50vh;
    background-image: url('kontaktwb.jpg'); /* Sørg for at dette billede er højopløseligt */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; /* Brug cover for at fylde containeren uden at forvrænge */
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   /* filter: sepia(80%) brightness(80%) contrast(85%) hue-rotate(-10deg);*/
   filter:grayscale(80%);
}

/* Kontakt-container styling */
.kontakt-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none; /* Ingen baggrund */
    padding: 3rem; /* Øget padding for at give mere plads indeni boksen */
    border-radius: 0; /* Kantede hjørner */
    box-shadow: none; /* Ingen skygge */
    width: 80%; /* Øget bredde til 80% af viewport-bredden */
    max-width: 1000px; /* Maksimal bredde på 1000px */
    box-sizing: border-box; /* Inkluderer padding og border i elementets samlede bredde og højde */
}

/* Tekst i kontakt-container */
.kontakt-container h2 {
    color: #fff; /* Hvid farve for overskriften */
    margin-bottom: 0.5rem; /* Reduceret afstand mellem overskrift og tekst */
    font-size: 2.5rem; /* Større skriftstørrelse for overskriften */
    font-family: 'Roboto Slab', serif; /* Ændret til Roboto Slab */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Tilføjer en skygge til teksten for bedre læsbarhed */
    letter-spacing: 0.10rem; /* Justeret linjeafstand mellem bogstaverne */
}

/* Kontakt-container paragraf */
.kontakt-container p {
    color: #fff; /* Hvid farve for teksten */
    font-size: 1.2rem; /* Mindre skriftstørrelse end overskriften */
    margin-top: 0.25rem; /* Reduceret afstand mellem tekst og knap */
    margin-bottom: 1rem; /* Afstand mellem tekst og knap */
    font-family: 'Roboto Slab', serif; /* Ændret til Roboto Slab */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Tilføjer en skygge til teksten for bedre læsbarhed */
    letter-spacing: 0.1rem; /* Justeret linjeafstand mellem bogstaverne */
}


/* Knap i kontakt-container */
.kontakt-container .kontakt-button {
    display: inline-block; /* Gør knappen til inline-block for at kunne anvende padding */
    font-weight: lighter; /* Gør knap-teksten tyk */
    color: #fff; /* Hvid tekstfarve */
    background-color: transparent; /* Gør knappen gennemsigtig */
    border: 2px solid #fff; /* Tyk, hvid kant */
    padding: 0.75rem 1.5rem; /* Komfortabel padding */
    border-radius: 0; /* Kantede hjørner på knappen */
    cursor: pointer; /* Ændrer cursoren til pointer ved hover */
    text-decoration: none; /* Fjerner understregning fra linket */
    font-family: 'Roboto Slab', serif; /* Ændret til Roboto Slab */
    letter-spacing: 0.05rem; /* Justeret linjeafstand mellem bogstaverne */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smidige overgangseffekter */
}

/* Hover-effekt på knappen */
.kontakt-container .kontakt-button:hover {
    color: #ffffff; /* Ændrer tekstfarven til hvid ved hover */
    border-color: #ffffff; /* Ændrer kantfarven til hvid ved hover */
    background-color: rgba(255, 255, 255, 0.1); /* Tilføjer en let, gennemsigtig baggrund ved hover */
}

/* OM MIG sektion */
#om {
    background: #f4f4f4;
    padding: 5rem 1rem;
    text-align: right;
}

.om-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;
}

.om-image {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.om-image img {
    width: 85%;
    height: auto;
    max-height: 475px;
    object-fit: cover;
    filter: grayscale(80%);
}

.om-text {
    flex: 1;
    text-align: left;
    margin-top: 0; /* Fjern margin-top */
}

/* Specifik font til overskriften */
.om-text .om-title {
    font-family: 'Roboto Slab', serif; /* Juster fontfamilie */
    font-size: 1.2rem; /* Juster skriftstørrelse */
    font-weight: 50; /* Juster skriftvægt */
    color: #959191; /* Farve til overskriften */
}

/* Specifik font til navnet */
.om-text .om-name {
    text-decoration: none;
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    letter-spacing: 2px;
    color: #333; /* Farve til navnet */
    margin: 0; /* Fjern margin */
    padding: 0; /* Fjern padding */
    line-height: 1; /* Juster linjehøjde */
}

/* Specifik font til underteksten */
.om-text .undertekst {
    font-family: 'Roboto Slab', serif; /* Juster fontfamilie */
    font-size: 1.1rem; /* Juster skriftstørrelse */
    line-height: 1.4; /* Justér linjehøjden for læsbarhed */
    color: #959191; /* Lys grå farve */
    margin-top: 2rem; /* Juster margin-top for at øge afstanden */
}

/* LinkedIn ikon styling */
.linkedin-container {
    display: flex;
    align-items: center; /* Centerer teksten og ikonet vertikalt */
    margin-top: 2rem; /* Tilføj margin-top for afstand fra underteksten */
}

/* CSS for linket, der omfatter både tekst og ikon */
.linkedin-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Fjern standard understregning */
}

/* Styling for LinkedIn-tekst */
.linkedin-text {
    font-family: 'Roboto Slab', serif; /* Juster fontfamilie */
    font-size: 1.1rem; /* Juster skriftstørrelse */
    color: #959191; /* Farve til teksten, samme som "Mit CV" */
    margin-right: 1rem; /* Tilføj margin til højre for afstand til ikonet */
}

/* Hover styling */
.linkedin-link:hover .linkedin-text {
    text-decoration: underline; /* Tilføj understregning ved hover */
}

/* Styling for LinkedIn ikon */
.linkedin-link i {
    font-size: 4rem; /* Størrelsen på LinkedIn-ikonet */
    color: #0077b5; /* LinkedIn's blå farve */
    text-decoration: none; /* Fjern understregning */
    margin-left: 2rem; /* Tilføj samme margin som ved CV-linket */
}

.linkedin-link:hover i {
    color: #005582; /* Mørkere blå ved hover */
}

/* Styling for CV-linket */
.cv-container {
    margin-top: 2rem; /* Tilføj margin-top for afstand fra LinkedIn-ikonet */
}

.cv-link {
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab', serif; /* Juster fontfamilie */
    font-size: 1.1rem; /* Juster skriftstørrelse */
    color: #959191; /* Farve til teksten */
    text-decoration: none; /* Fjern understregning */
}

.cv-link i {
    font-size: 4rem; /* Størrelsen på PDF-ikonet */
    color: #e44c59; /* Farve til PDF-ikonet (rød) */
    margin-left: 9rem; /* Margin til højre for afstand fra teksten */
}

.cv-link:hover {
    text-decoration: underline; /* Tilføj understregning ved hover */
}

.cv-link:hover i {
    color: #db0000;
}

/* Ydelser sektion styling */
#ydelser {
    background: #f9f9f9;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

#ydelser h2 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 2rem;
}

.ydelser-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.ydelse {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ydelse i {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.ydelse h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ydelse p {
    font-size: 1rem;
    color: #666;
}

/* Hover-effekt på ydelser */
.ydelse:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ydelser sektion - Farveændringer for ikoner */
.fas.fa-gavel {
    color: #4682B4; /* Tomatfarve for syn- og skønsmandsopgaver */
}

.fas.fa-tools {
    color: #4682B4; /* Stålblå farve for VVS tjek */
}

.fas.fa-fire {
    color: #4682B4; /* Orange farve for Indregulering af Gaskomfurer */
}

.fas.fa-hammer {
    color: #4682B4; /* Blåviolet farve for mindre VVS arbejder */
}

.fas.fa-cogs {
    color: #4682B4; /* MediumSeaGreen for Projektering af Ventilationsentrepriser */
}

.fas.fa-calculator {
    color: #4682B4; /* Guld farve for Tilbudsberegning */
}

.fas.fa-check-circle {
    color: #4682B4; /* LimeGreen farve for Kvalitetssikring */
}

.fas.fa-bolt {
    color: #4682B4; /* OrangeRed for Energioptimering */
}


/* Footer styling */
footer {
    background: #ffffff;
    color: #000000;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: auto; /* Placerer footeren nederst */
}

footer p {
    font-size: 0.9rem;
    line-height: 1.5;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0; /* Initial skjult */
    transform: translateY(20px); /* Starter lidt nede */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1; /* Gør elementet synligt */
    transform: translateY(0); /* Flytter elementet på plads */
}

/* Mobilversion */
@media only screen and (max-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-container .logo {
        font-size: 16px; /* Juster logo-størrelsen for mobil */
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul li {
        margin-bottom: 10px; /* Mellemrum mellem navigationselementer */
    }

    nav ul li a {
        font-size: 14px; /* Juster skriftstørrelse for links */
    }

    /* Juster størrelsen på knapper i navigationen */
    .nav-container .nav-button {
        font-size: 14px; /* Juster skriftstørrelsen for knapper */
    }

    /* Hero sektion til mobilversionen */
#hero {
    background: url('vvsventilation.jpg') no-repeat center center;
    height: 100vh; /* Juster højden */
    display: flex;
    justify-content: center; /* Centrér horisontalt */
    align-items: flex-start; /* Start med at justere vertikalt */
    text-align: center;
    margin-top: 1rem;
    background-size: contain; /* Sørg for, at billedet ikke forstørres */
    position: relative; /* Sørg for, at det kan fungere med .hero-content */
}
#hero .hero-content {
    position: absolute;
    top: 40%; /* Justér denne værdi for at flytte teksten ned */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
#hero .hero-content h1 {
    font-size: 0.8rem !important;
    color: #000 !important;
    margin: 0 !important;
    letter-spacing: 0.1rem;
}
#hero .hero-content h2 {
    font-size: 1rem !important;
    color: #000 !important;
    margin: 0 !important;
    letter-spacing: 0.1rem;
}

    #velkommen .container {
        padding: 0 1rem; /* Justér padding efter behov */
    }

    #velkommen h2 {
        font-size: 1.5rem; /* Juster skriftstørrelse for overskrift */
        margin-bottom: 1rem; /* Juster margin */
    }

    #velkommen p {
        font-size: 14px; /* Juster skriftstørrelse for tekst */
    }

    #velkommen .columns {
        flex-direction: column; /* Skift til kolonne layout */
        gap: 1rem; /* Juster mellemrum mellem sektioner */
        margin-top: 1rem;
    }

    #velkommen .columns .left-column,
    #velkommen .columns .right-column {
        max-width: 100%; /* Gør kolonnerne fuld bredde */
        text-align: center; /* Centrér teksten */
    }
}

    /*om mig sektion mobilvisning*/
  #om {
        text-align: center; /* Centrér indholdet i mobilversionen */
    }

    .om-container {
        flex-direction: column; /* Ændr layout til kolonne i stedet for række */
        align-items: center; /* Sørg for, at indholdet er centreret */
        text-align: center;
    }

    .om-image {
        max-width: 100%; /* Billedet skal fylde hele skærmens bredde */
        margin-bottom: 2rem; /* Tilføj afstand mellem billede og tekst */
    }

    .om-image img {
        width: 100%; /* Sørg for, at billedet fylder hele mobilskærmen */
        height: auto; /* Bevar billedets proportioner */
        object-fit: cover; /* Skaler billedet uden at ændre forholdene */
    }

    .om-text {
        text-align: center; /* Centrér teksten i mobilversionen */
        margin-top: 1rem; /* Juster margenen for at skabe plads mellem titel og tekst */
    }

    .om-text .om-title {
        font-size: 1.5rem; /* Justér skriftstørrelsen for mobilversionen */
    }

    .om-text .om-name {
        font-size: 1.8rem; /* Justér skriftstørrelsen for mobilversionen */
    }

    .om-text .undertekst {
        font-size: 1rem; /* Tilpas skriftstørrelsen for læsbarhed */
    }


/* Ydelser sektion */
.ydelser-container {
    padding: 20px;
    text-align: center;
}

.ydelser-container h2 {
    font-size: 20px; /* Juster skriftstørrelse for overskrift */
}

.ydelser-container .service {
    margin-bottom: 20px; /* Mellemrum mellem serviceelementer */
}

.ydelser-container .service img {
    max-width: 100%; /* Gør billeder responsivt */
}

/* Kontakt sektion */
 #parallax-window {
        background-attachment: scroll; /* Deaktiver parallax-effekten på mobile enheder for bedre performance */
        background-position: center; /* Sørg for, at billedet centrerer sig på mobilen */
        height: 40vh; /* Mindre højde på mobilen */
    }

    /* Kontakt-container til mobil */
    .kontakt-container {
        width: 90%; /* Mindre bredde for bedre tilpasning */
        padding: 2rem; /* Mindre padding */
    }

    .kontakt-container h2 {
        font-size: 1.8rem; /* Mindre skrifttype på mobilen */
    }

    .kontakt-container p {
        font-size: 1rem; /* Mindre skrifttype på mobilen */
    }

    .kontakt-container .kontakt-button {
        padding: 0.5rem 1rem; /* Mindre padding på knappen */
    }


}

