/* Generelle styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sørg for, at body fylder hele højden af viewporten */
}

/* Sticky navigation styling */
header {
    position: sticky; /* Gør headeren sticky */
    top: 0; /* Fastgør headeren til toppen */
    z-index: 1000; /* Sørg for, at headeren ligger øverst og ikke bliver dækket af andet indhold */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tilføj en let skygge for dybde */
    background: #fff; /* Sørg for at baggrunden er hvid så den ikke ser transparent ud */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Stræk nav-container til hele viewport-bredden */
    max-width: 1200px; /* Maksimal bredde */
    margin: 0 auto; /* Centerer containeren */
    padding: 0 1rem; /* Tilføj padding for at sikre lidt afstand til kanten */
    box-sizing: border-box; /* Inkluderer padding og border i elementets samlede bredde og højde */
}

.logo a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto Slab';
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    font-family: 'Roboto Slab';
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover-effekter på navigation */
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #959191;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #959191;
    transform: scale(1.1);
}

nav ul li a:hover::after {
    width: 100%;
}

/* Hero section styling */
#hero {
    background: url('vvsventilation.jpg') no-repeat center center;
    height: 75vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem; /* Tilføjer margin mellem header og hero */
    background-size: 90%;
    background-position: center center;
    filter: grayscale(50%);
}

.hero-content {
    background: rgba(251, 249, 249, 0);
    padding: 0rem;
    border-radius: 10px;
    position: absolute;
    top: 1.0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Hero section h1 styling */
#hero h1 {
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 20%;
    margin-bottom: 1rem;
    color: #000000;
    letter-spacing: 10px;
}

/* Hero section h2 styling */
#hero h2 {
    font-family: 'Roboto slab';
    font-size: 3rem;
    font-weight: lighter;
    color: #000;
    margin: 0;
    letter-spacing: 5px;
}

.hero-content h1 {
    font-size: 3rem;
    letter-spacing: 1px;
}

.hero-content h2 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

/* Sektion styling */
section {
    padding: 1rem 0;
    text-align: center;
    border-bottom: none;
}

section#forside {
    background: #f4f4f4;
}

section#velkommen,
section#om,
section#ydelser {
    background: #fff;
    padding: 2rem;
}

#velkommen .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

#velkommen h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Roboto slab';
}

/* Specifik styling for fremhævet tekst i velkommen-containeren */
#velkommen p strong {
    color: #000;
}

#velkommen .columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1rem;
}

#velkommen .columns .left-column,
#velkommen .columns .right-column {
    flex: 1;
    max-width: 48%;
    text-align: left;
    color: #666;
    line-height: 1.7;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

#parallax-window {
    width: 100%; /* Sørger for, at parallax-vinduet strækker sig til begge sider */
    height: 50vh;
    background-image: url('kontaktwb.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(80%);
}

/* Kontakt-container styling */
.kontakt-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    padding: 3rem;
    border-radius: 0;
    box-shadow: none;
    width: 80%;
    max-width: 1000px;
    box-sizing: border-box;
}

/* Tekst i kontakt-container */
.kontakt-container h2 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.10rem;
}

/* Kontakt-container paragraf */
.kontakt-container p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1rem;
}

/* Knap i kontakt-container */
.kontakt-container .kontakt-button {
    display: inline-block;
    font-weight: lighter;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.05rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover-effekt på knappen */
.kontakt-container .kontakt-button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

/* OM MIG sektion */
#om {
    background: #f4f4f4;
    padding: 5rem 1rem;
    text-align: right;
}

.om-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;
}

.om-image {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.om-image img {
    width: 85%;
    height: auto;
    max-height: 475px;
    object-fit: cover;
    filter: grayscale(80%);
}

.om-text {
    flex: 1;
    text-align: left;
    margin-top: 0;
}

/* Specifik font til overskriften */
.om-text .om-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 50;
    color: #959191;
}

/* Specifik font til navnet */
.om-text .om-name {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: lighter;
    color: #000;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero-content {
        padding: 1rem;
        width: 100%;
        top: 50%;
        transform: translateX(0);
    }

    #hero h1 {
        font-size: 1.2rem;
    }

    #hero h2 {
        font-size: 2rem;
    }

    .kontakt-container {
        width: 90%;
    }

    .om-container {
        flex-direction: column;
    }

    .om-image {
        max-width: 100%;
    }

    .om-text {
        margin-top: 2rem;
    }
}

/* Større skærme */
@media (min-width: 1200px) {
    .nav-container {
        max-width: 1200px;
    }
    
    #hero {
        background-size: cover;
    }
    
    .kontakt-container {
        width: 60%;
    }
}
